BasedOnStyle: LLVM
Language: C

UseTab: Never
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4

BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLoopsOnASingleLine: false
ColumnLimit: 100
IndentCaseLabels: true
IndentGotoLabels: false
IndentPPDirectives: AfterHash
SortIncludes: false

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true

CommentPragmas: '^ IWYU pragma:'

KeepEmptyLinesAtTheStartOfBlocks: false
DerivePointerAlignment: false
PointerAlignment: Left

AlwaysBreakAfterReturnType: None
